extend index

block pageindex 
 section(class="map-back")
  div.container
   h1.title  about us
 section.aboutus
  div.container
   div.row
    div(class="col-sm-4 aboutus-it")
     img(src="../images/aboutus.png" alt="Top Services" title="Top Services")
    div(class="col-sm-8 aboutus-it")
     h3.title-ab about us
     h4.title-twe About Surface Service
     p.text  Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center <br/> Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center <br /> <br /> Heating, cooling and maintenance of all electrical appliances with original spare parts with quality guarantee And other services provided by Top Service Center
 include ../pugjs/rowcontacts.pug
 <!--End rowcontacts-->