extend index

block pageindex 
 section(class="map-back")
  div.container
   div.branimg
    img(src='../images/toshiba.png' alt="")
   h1.title Brand Toshiba
 section.services
   div(class='container')
    h2.title  Toshiba maintenance services
    div(class='row')
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro1.jpg' alt="")
        div.overlay
         h2 Maintenance of washing  
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro2.jpg' alt="")
        div.overlay
         h2 Maintenance of refrigerators
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro3.jpg' alt="")
        div.overlay
         h2  Maintenance of stoves
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro4.jpg' alt="")
        div.overlay
         h2  Maintenance of all types 
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro5.jpg' alt="")
        div.overlay
         h2 Air conditioning maintenance
     div(class="col-sm-4 serv-itme")
      a(href='brand-details.html' class='maintenance')
        img(src='../images/pro6.jpg' alt="")
        div.overlay
         h2  Maintenance of fans
  
 include ../pugjs/rowcontacts.pug
 <!--End rowcontacts-->   