footer(class='footer')
 div(class='container')
  div.row
    div(class='col-md-4 boxfot') 
     h6(class='title') للإتصال بنا
     div(class='textcontact')
      p.text #[i(class="fas fa-map-marker-alt")] Arab Republic of Egypt
      a(href='tel:0201207966136') #[i(class="fas fa-phone")] 01207966136
      a(href="#") #[i(class="fas fa-envelope")]  info @yahoo.com 

    div(class='col-md-4 boxfot') 
     h6(class='title') main menu
     nav(class='navlast')                                                                  
      a(href='index.html' ) home
      a(href='aboutus.html') about us
      a(href='brands.html') brands 
      a(href='terms.html') Terms & Conditions
      a(href='contactus.html') contact us
   
    div(class='col-md-4 boxfot')
     h6(class='title') Follow us on
     p.text You can follow us on all social networking sites to see what is new to us
     nav(class='social')
       a(href='#', target="_blank",class='fab fa-facebook-f icon-facebook',title='Facebook') 
       a(href='#', target="_blank" class='fab fa-twitter icon-twitter',title='Twitter')
       a(href='#', target="_blank" class='fab fa-google icon-gplus',title='google')
       a(href='#',target="_blank" class='fab fa-instagram icon-instagram',title='Instagram')
       a(href='#',target="_blank" class="fab fa-youtube icon-youtube"  title="YouTube")
  div.copyright
   p.textcopyright Copyright © 2019 by #[span Top Services]  
   

   
 a(href="#" class="scrollToTop bottom")
  i(class="fas fa-arrow-up")
