extend index

block pageindex 
 section(class="map-back")
  div.container
   h1.title Terms and Conditions
 section.terms
  div.container
   div.row
    div(class="col-sm-10 terms-it")
     h4.title-twe About Surface Service
     p.text Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center <br/> Heating, cooling and maintenance of all electrical appliances with original spare parts with high quality guarantee and other services provided by Top Service Center <br /> <br /> Heating, cooling and maintenance of all electrical appliances with original spare parts with quality guarantee And other services provided by Top Service Center
 include ../pugjs/rowcontacts.pug
 <!--End rowcontacts-->