extend index

block pageindex 
 section.map-back
   div.container
    h1.title  العلامات التجارية
    ul.maplink
     li 
      a(href="index.html") الرئيسية
     li  العلامات التجارية   
 <!-- End Section panner Top -->
 section.brands
  div(class='container')
   h2.title  العلامات التجارية   
   p.text-center تصفح أقسام مستحضرات التجميل ، نقدم لكم جميع أنواع مستحضرات التجميل
   div.row
    - for (var x = 0; x < 10; x++)
       div.col-sm-3.item
        div.brand-item  
         a(href='brands-inner.html' class='photo') 
          img(src="../images/teknopanel_logo.jpg" alt="Jegt Co" title="Jegt Co")
         div(class='title-it') Tekno Panel
         a(href='brands-inner.html' class='fas fa-angle-double-down bottom') 
   ul(class="pagination w-100")
      li(class="page-item")
       a(class="page-link" href="#") #[i(class="fas fa-angle-right")] 
      li(class="page-item")
       a(class="page-link active" href="#") 1 
      li(class="page-item")
       a(class="page-link" href="#") 2
      li(class="page-item")
       a(class="page-link" href="#") 3
      li(class="page-item")
       a(class="page-link" href="#") #[i(class="fas fa-angle-left")]  
      
     











