extend index

block pageindex 
 section.map-back
   div.container
    h1.title Privacy policy
    ul.maplink
     li 
      a(href="index.html") home
     li Privacy policy
 <!-- End Section panner Top -->
 section.privacy-policy  
  div.container
   div.inner
    h3.title wprivacy policy 
    p  Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry’s Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960s With The Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum
    