section.counter
 div.container
  h2.title Success In Numbers
  div.row
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="251" data-speed="20000")
    p.count-text Happy Clients
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="306" data-speed="20000")
    p.count-text Project Completed
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="400" data-speed="20000")
    p.count-text Sales Rate
   