$direction:rtl;
$right:right;
$left:left;
$senter:center;
$overflow: hidden;
$lineheight:28px;
$fontsize :16px;
$fontlurg :30px;
$fontbold:bold;
$none:none;
$inline: inline-block;
$block: block;
$fixed: fixed;
$zindex:1000;
$zero:0px;
$white:#fff;
$yellow:#fedc3d;
$blue:#032f52;
$red:#ec202b;
$green:#00b032;
$gray:#1c1c1c;
$colortext:#4a4a4a;
$blak:#000;
$ofwhite:#fafafa;
$minmargin:15px;
$maxmargin:30px;
$fullwidth:100%;
$auto:auto;
$transparent:transparent;
$social:
 facebook #3b5998,
 twitter #00acee,
 instagram #8d5b46,
 youtube #c4302b,
 rss #ee802f,
 linkedin #007fb1,
 gplus #dd4b39,
 whatsapp #189d0e,
