script(src='js/jquery.js')
script(src="js/popper.min.js")
script(src='js/bootstrap.min.js')
script(src='js/jquery.themepunch.plugins.min.js')
script(src='js/jquery.themepunch.revolution.min.js')
script(src="js/slick.min.js")
script(src='js/lightslider.js')
script(src="js/jquery.light-carousel.js")
script(src="js/lc_lightbox.lite.js")
script(src='js/plugin.js')   
 



 	
