script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.themepunch.plugins.min.js')
script(src='js/jquery.themepunch.revolution.min.js')
script(src='js/grt-youtube-popup.js')
script(src='js/plugin.js')   
