footer.footer
 div.letarnews
  div.container
   div.row
    div.col-sm-6.item
     p.title-con #[b  Subscribe to our mailing list]   Hey, Sign up It just takes a second to be the first to know about our latest news and promotions     
    div.col-sm-6.item
     form(class="sendemail" method="POST" action="#")
      input(class="form-control" type="text" name="" value="" placeholder="Your email address...")
      button(class="bottom" type="submit") Subscription
   
 div.container
  div.row            
   div.col-md-3.boxfot
    div.logo
     img(src='images/logo.png' alt="Jegt Co" title="Jegt Co")
    p.text Lorem Ipsum Has Been The Industry’s Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley O
 
   div.col-md-3.boxfot 
    h6.title  main menu
    nav.navmenu 
      a(href='index.html') Home 
      a(href='aboutus.html') about us   
      a(href='news.html') news
       a(href='clients.html')  Clients  
      a(href='contactus.html') contact us
      a(href='privacy-policy.html')   Privacy policy 
  
   div.col-md-3.boxfot 
    h6.title  Brands
    nav.navmenu 
      a(href='brands.html') Tekno Panel 
      a(href='brands.html') Tekno Panel
      a(href='brands.html') Tekno Panel 
      a(href='brands.html') Tekno Panel 
   div.col-md-3.boxfot 
    h6.title  Contact Information
    div.textcontact
      p #[i(class="fas fa-map-marker-alt")] Lorem Ipsum Has Been The Industry’s Standard Dummy Text 
      a(href='#')  #[i(class="fas fa-phone")] 124578547895575  
      a(href='#') #[i(class="fas fa-envelope")]  info@yahoo.com
     
    nav.social
      a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
      a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
      a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
      a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
      a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
      a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube")   
 
  div.copyright
   p.textcopyright All Rights Reserved © 2020 by #[span Jegt Co].
 a(class="scrollToTop bottom" href="#") #[i(class="fas fa-arrow-up")]           
                  
      













