header.header
  div.min-header
   div.container
     nav.social
      a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
      a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
      a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
      a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
      a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
      a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube")   
     nav.linkstop
      a(href="#") #[i(class="fas fa-envelope")] info@yahoo.com
      a(href="#") #[i(class="fas fa-phone")]  012249449441
      a(href="#") العربية
  div.container
   div(class='logo')
    a(href='index.html' title="Jegt Co") 
     img(src='images/logo.png' alt="Jegt Co" title="Jegt Co")    
   div.menu 
    div(id='cssmenu')
      ul  
       li
         a(href='index.html' class='active') Home 
       li
        a(href='aboutus.html') about us   
       li
        a(href='brands.html')  Brands   #[i(class="fas fa-chevron-down")]
        ul
         li
          a(href='brands.html') 
           span  #[img(src='images/teknopanel_logo.jpg' alt="Jegt Co" title="Jegt Co")] 
           | Brands
         li
          a(href='brands.html') 
           span #[img(src='images/teknopanel_logo.jpg' alt="Jegt Co" title="Jegt Co")] 
           | Brands
         li
          a(href='brands.html') 
           span #[img(src='images/teknopanel_logo.jpg' alt="Jegt Co" title="Jegt Co")] 
           | Brands
         li
          a(href='brands.html') 
           span #[img(src='images/teknopanel_logo.jpg' alt="Jegt Co" title="Jegt Co")] 
           | Brands
       li
        a(href='clients.html') Clients 
       li
        a(href='news.html') news
     
       li
        a(href='contactus.html') contact us  
    span(class="fas fa-search searchicon")
    a(href='#' title="Jegt Co" class="bottom")  shop online
    div.showboxsearch
     span(class="cancel-search")
     div.innersearch
      form(action="#" method="" class='formsearch')
       input(class="form-control" type="text" placeholder="Search...")
       button(class=" fas fa-search btn" type="submit")  
    
//- End Header  
       
 