section.brands
 div(class='container')
  h2.title Our Brands
  p.text-center Browse the sections on cosmetics ,we provide you with all kinds of cosmetics
  div.brands-slider
   - for (var x = 0; x < 8; x++)
       div.brand-item  
        a(href='brands-inner.html' class='photo') 
         img(src="images/teknopanel_logo.jpg" alt="Jegt Co" title="Jegt Co")
        div(class='title-it') Tekno Panel
        a(href='brands-inner.html' class='fas fa-angle-double-down bottom') 
 
//- End brands