section.news
 div(class='container')
  h2.title  news
  p.text-center Browse the sections on cosmetics ,we provide you with all kinds of cosmetics
  div.news-slider
    - for (var x = 0; x < 6; x++)
     div.news-itme   
      div.hovereffect
         img(src="images/slides/img3.jpg" alt="Jegt Co" title="Jegt Co")
         div.overlay #[a(href="news-inner.html") Read More ] 
      a(href='news-inner.html' class='title-it') Cleaning Martials
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellent esque dignissim eros a sapien tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellent esque dignissim eros a sapien tempus.




   
        
        