section.aboutus
  div.container
   div.row
    div(class="col-sm-4 aboutus-it")
     img(src="images/aboutus.png" alt="توب سيرفس" title="توب سيرفس")
    div(class="col-sm-8 aboutus-it")
     h3.title-ab من نحن
     h4.title-twe نبذة تعريفية عن توب سيرفس
     p.text  خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس<br/><br/> خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس<br/><br/> خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس
     a(href='aboutus.html' class='bottom') شاهد التفاصيل
