header.header
  div.minheeader
   div.container
    nav(class='social')
       a(href='#', target="_blank",class='fab fa-facebook-f icon-facebook',title='Facebook') 
       a(href='#', target="_blank" class='fab fa-twitter icon-twitter',title='Twitter')
       a(href='#', target="_blank" class='fab fa-google-plus-g icon-gplus',title='google-plus')
       a(href='#',target="_blank" class='fab fa-instagram icon-instagram',title='Instagram')
       a(href='#',target="_blank" class="fab fa-youtube icon-youtube"  title="YouTube")
    div(class='linkstop')
      a(href="#") #[i(class="fas fa-flag")] English  
      p #[i(class="fas fa-map-marker-alt")]  القومية العربية جمهورية مصر العربية  15
  div.container
   div(class='logo')
    a(href='index.html' title="توب سيرفس") 
     img(src='images/logo.png' alt="توب سيرفس" title="توب سيرفس")
   div.contactbot
    img(src='images/contact.png' alt="توب سيرفس" title="توب سيرفس")
    p يمكنك الإتصال بنا على مدار اليوم
    a(href='tel:0201207966136') 01207966136
   div.navmenu 
    div.container   
      div(id='cssmenu')
        ul
          li
            a(href='index.html' class='active') الرئيسية
          li
            a(href='aboutus.html') من نحن
          li
            a(href='brands.html') الماركات #[i(class="fas fa-sort-down")]
            ul
             li
              a(href='brands-inner.html') #[img(src='images/mark1.jpg' alt="توب سيرفس" title="توب سيرفس") ]
             li
              a(href='brands-inner.html') #[img(src='images/mark2.jpg' alt="توب سيرفس" title="توب سيرفس") ] 
             li
              a(href='brands-inner.html') #[img(src='images/mark3.jpg' alt="توب سيرفس" title="توب سيرفس") ]
             li
              a(href='brands-inner.html') #[img(src='images/mark4.jpg' alt="توب سيرفس" title="توب سيرفس") ]
          li
           a(href='terms.html') الشروط والاستخدام
          li
           a(href='contactus.html') إتصل بنا 
      a(href='contactus.html' class="bottom") طلب موعد
  
