doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Lorem PugJs')
    meta(name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name="keywords" content="")
    title توب سيرفس
    
    include ../includes/styles.pug 
    include ../includes/scripts.pug 
  body
      include ../pugjs/header.pug
      <!--End Header-->
      block pageindex
       include ../pugjs/slider.pug
       <!--End Slider-->
       include ../pugjs/services.pug
       <!--End services-->
       include ../pugjs/rowcontacts.pug
       <!--End rowcontacts-->
       include ../pugjs/aboutus-section.pug
       <!--End aboutus-section-->
      include ../pugjs/footer.pug
      <!--End Footer-->
