section.rowcontacts
 div.container
  div.row
   div(class="col-sm-5 serv-it") 
    h3.title-cont  مكالمة واحدة يمكن أن تحل جميع مشاكل منزلك لا تتردد فى الاتصال بنا

  
   div(class="col-sm-7 serv-it")
    nav.phonenambuer
     a(href='tel:0201027497576') 01027497576
     a(href='tel:0201150846869') 01150846869
     a(href='tel:0201207966136') 01207966136
     