extend index

block pageindex 
 section(class="map-back")
  div.container
   h1.title الشروط والاستخدام
 section.terms
  div.container
   div.row
    div(class="col-sm-10 terms-it")
     h4.title-twe نبذة تعريفية عن توب سيرفس
     p.text  خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس<br/><br/> خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس<br/><br/> خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس
 include ../pugjs/rowcontacts.pug
 <!--End rowcontacts-->