section.counter
 div.container
  h2.title النجاح في الأرقام
  div.row
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="251" data-speed="20000")
    p.count-text عملاء سعداء
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="306" data-speed="20000")
    p.count-text اكتمل المشروع
   div(class="col-sm-4 count-it") 
    h3(class="timer title-number" data-to="400" data-speed="20000")
    p.count-text معدل المبيعات
   