footer.footer
 div.letarnews
  div.container
   div.row
    div.col-sm-6.item
     p.title-con #[b  اشترك في قائمتنا البريدية]   مرحبًا ، اشترك يستغرق الأمر ثانيًا فقط لتكون أول من يعرف عن آخر الأخبار والعروض الترويجية
    div.col-sm-6.item
     form(class="sendemail" method="POST" action="#")
      input(class="form-control" type="text" name="" value="" placeholder="عنوان بريدك الإلكتروني...")
      button(class="bottom" type="submit") اشتراك
   
 div.container
  div.row            
   div.col-md-3.boxfot
    div.logo
     img(src='../images/logo.png' alt="Jegt Co" title="Jegt Co")
    p.text لقد كان لوريم إيبسوم النص الوهمي القياسي للصناعة منذ القرن الخامس عشر ، عندما أخذت طابعة غير معروفة معرض Galley O
 
   div.col-md-3.boxfot 
    h6.title  القائمة الرئيسية
    nav.navmenu 
      a(href='index.html') الرئيسية 
      a(href='aboutus.html') من نحن  
      a(href='news.html') الأخبار
       a(href='clients.html') العملاء 
      a(href='contactus.html') إتصل بنا
      a(href='privacy-policy.html')   سياسة الاستخدام 
  
   div.col-md-3.boxfot 
    h6.title  العلامات التجارية
    nav.navmenu 
      a(href='brands.html') Tekno Panel 
      a(href='brands.html') Tekno Panel
      a(href='brands.html') Tekno Panel 
      a(href='brands.html') Tekno Panel 
   div.col-md-3.boxfot 
    h6.title  معلومات للتواصل
    div.textcontact
      p #[i(class="fas fa-map-marker-alt")] العنوان العنوان العنوان العنوان  العنوان العنوان 
      a(href='#')  #[i(class="fas fa-phone")] 124578547895575  
      a(href='#') #[i(class="fas fa-envelope")]  info@yahoo.com
     
    nav.social
      a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
      a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
      a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
      a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
      a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
      a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube")   
 
  div.copyright
   p.textcopyright جميع الحقوق محفوظة © 2020 بواسطة #[span Jegt Co].
 a(class="scrollToTop bottom" href="#") #[i(class="fas fa-arrow-up")]           
                  
      













