doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Lorem PugJs')
    meta(name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name="keywords" content="")
    title Jegt Co
    
    include ../includes/styles.pug 
    include ../includes/scripts.pug 
  body
      include ../pugjs/header.pug
      <!--End Header-->
      block pageindex
       include ../pugjs/slider.pug
       <!--End Slider-->
       include ../pugjs/min-brands.pug
       <!--End min-brands-->
       include ../pugjs/counter.pug
       <!--End counter-->
       include ../pugjs/min-clients.pug
       <!--End min-clients-->
       include ../pugjs/minnews.pug
       <!--End minnews-->
      include ../pugjs/footer.pug
      <!--End Footer-->
